#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: bisque;
}

body {
  background-color: rgb(145, 78, 208);
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
  border-radius: 20px;
  border: 1px solid white;
  padding: 1%;
  width: 50vw;
  font-size: 15px;
  font-family: cursive;
  margin: 9px;
  color: darkblue;
  background-color: rgb(202, 186, 217)
}

button {
  padding: 10px;
  background-color: rgb(37, 35, 35);
  color: bisque;
  border-radius: 10px;
  margin-left: 20px;
}

input {
  border-radius: 20px;
  height: 5vh;
  width: 20vw;
  background-color: rgb(158, 136, 179);
}

li button {
  left: 50%;
}